{% extends 'base.html' %}
{% block title %}Группы{% endblock %}
{% block body %}

<main class="d-flex flex-nowrap">
    {% include 'side_menu.html' %}

    <div class="content">
        <div class="container-fluid flex-nowrap">
            <br>
            <div class="d-flex align-items-center">
                <h1 class="mr-3">Посещение группы {{ group.group_name }}</h1>
            </div>
            <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                {% for date in dates %}
                    <th scope="col"> {{ date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for personal_attendance in att_to_func.keys() %}
                <tr>
                    <td>
                        <a href="#">{{ personal_attendance }}</a>
                    </td>
                {% for pa in att_to_func[personal_attendance] %}
                    <td>
                        <a>{{ pa }}</a>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    $(".sidenav ul li").on('click', function (){
        $(".sidenav ul li.active").removeClass('active');
        $(this).addClass('active');
    })
</script>

{% endblock %}
