{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block body %}


<div class="container-fluid position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form method="post">
            {{ form.hidden_tag() }}
                <h1>Регистрация</h1>
                <h6>Мы никогда никому не передадим ваши данные.</h6>
                {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                    <p>{{ field.label() }}
                    {% if field.errors %}
                        {{ field(class="invalid") }}
                    <span class="invalid-feedback">
                        {% for e in field.errors %}
                        {{ e }}
                        {% endfor %}
                    </span>
                    {% else %}
                        {{ field(class="form-control") }}
                    {% endif %}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Продолжить</button>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}