{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block body %}


<div class="position-absolute top-50 start-50 translate-middle">
    <form>
        <form>
            <h1>Вход</h1>
            <div class="mb-2">
                <label for="inputEmail1" class="form-label">Адрес электронной почты</label>
                <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword1" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </form>
</div>

{% endblock %}