body{
    background: white;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    height: 100%;
}


#side_nav{
    min-width: 250px;
    max-width: 250px;
}

.img-fluid {
   min-width: 100px;
   min-height: 50px;
}

#nav_account{
     background: white;
}


.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: white;
}

.sidenav li.active{
    background: gray;
    border-radius: 8px;
}

.sidenav li.active a, sidebar li.active a:hover{
    color: black;
}

.sidenav li a{
    color: gray;
}