<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-info border-start-0 rounded-end fixed-start bg-light"
       id="side_nav" style="border-bottom-right-radius: .5rem; border-top-right-radius: .5rem;">

    <ul class="list-unstyled px-2">
        <li class=""><a href="{{url_for('account.accountfull', account_id=cu)}}" class="nav-link text-black">Аккаунт</a></li>
        <li class=""><a href="{{url_for('students.student')}}" class="nav-link text-black">Ученики</a></li>
        <li class=""><a href="#" class="nav-link text-black">Занятия/Расписание</a></li>
        <li class=""><a href="#" class="nav-link text-black">Посещаемость</a></li>
        <li class=""><a href="#" class="nav-link text-black">Тренер</a></li>
        <li class=""><a href="{{url_for('club.clubs')}}" class="nav-link text-black">Клубы</a></li>
        <li class=""><a href="{{url_for('gym.gyms')}}" class="nav-link text-black">Залы</a></li>
        <li class=""><a href="{{url_for('groups.group')}}" class="nav-link text-black">Группы</a></li>
        <li class=""><a href="#" class="nav-link text-black">Платежи</a></li>
    </ul>
    <ul class="list-unstyled px-2">
        <li class=""><a href="#" class="nav-link text-black">Настройки</a></li>
    </ul>
</aside>
