{% extends 'base.html' %}
{% block title %}Аккаунт{% endblock %}
{% block body %}

<main class="d-flex flex-nowrap">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-info border-start-0 rounded-end fixed-start bg-light" id="side_nav">
<!--         <div class="header-box px-2 pt-3 pb-4">-->
<!--         </div>-->
        <ul class="list-unstyled px-2">
            <li class=""><a href="{{url_for('account.base_acc')}}" class="nav-link text-black">Аккаунт</a></li>
            <li class=""><a href="#" class="nav-link text-black">Ученики</a></li>
            <li class=""><a href="#" class="nav-link text-black">Занятия/Расписание</a></li>
            <li class=""><a href="#" class="nav-link text-black">Посещаемость</a></li>
            <li class=""><a href="#" class="nav-link text-black">Тренер</a></li>
            <li class=""><a href="#" class="nav-link text-black">Клубы</a></li>
            <li class=""><a href="#" class="nav-link text-black">Залы</a></li>
            <li class=""><a href="#" class="nav-link text-black">Группы</a></li>
        </ul>
        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="nav-link text-black">Настройки</a></li>
        </ul>
    </aside>
    <div class="content">
<!--    <nav class="navbar navbar-expand-lg" id="nav_account">-->
<!--        <div class="container-fluid">-->
<!--&lt;!&ndash;            <a class="navbar-brand" href="/">Феникс</a>&ndash;&gt;-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--                    aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav">-->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link active" aria-current="page" href="/account">Личный кабинет</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--    &lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <a class="nav-link disabled" href="#">Рекомендуемые</a>&ndash;&gt;-->
<!--    &lt;!&ndash;                </li>&ndash;&gt;-->
<!--    &lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <a class="nav-link disabled" href="#">Цена</a>&ndash;&gt;-->
<!--    &lt;!&ndash;                </li>&ndash;&gt;-->
<!--    &lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <a class="nav-link disabled">Отключенная</a>&ndash;&gt;-->
<!--    &lt;!&ndash;                </li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->

<!--            </div>-->
<!--        </div>-->

<!--    </nav>-->
    <div class="container-fluid flex-nowrap">
        <div class="row d-flex flex-row flex-nowrap" id="account_first_row">
        <div class="col-2 d-flex flex-column" id="account_first_row_first_col">
            <div class="container-fluid px-0 py-3">
                <img class="img-fluid" width="150" height="150" src="{{ img }}">
            </div>
        </div>
        <div class="col-5 d-flex flex-column">
            <div class="container-fluid py-4" id="fio">
                <p style="color:black;">Фамилия: <span class="text-dark rounded shadow px-2 me-2">Рябухина</span></p>
                <p style="color:black;">Имя: <span class="text-dark rounded shadow px-2 me-2">Анастасия</span></p>
                <p style="color:black;">Отчетство: <span class="text-dark rounded shadow px-2 me-2">Константиновна</span></p>
            </div>
        </div>
        <div class="col-5 d-flex flex-column" id="account_first_row_final_column">
            <div class="container-fluid">
                <div class="d-flex justify-content-end">
                <p class="py-4" style="color:black;">Тип аккаунта: <span class="text-dark rounded shadow px-2 me-2">Ученик</span></p>
                </div>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <a class="btn btn-secondary text-white" type="button" href="{{url_for('account.acc_edit')}}">Редактировать</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-7 d-flex flex-column">
                <p class="py-4 px-4" style="color:black;">Дата рождения: <span class="text-dark rounded shadow px-2 me-2">27.04.2001</span></p>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-7 d-flex flex-column" id="contact_info">
                <p class="py-0 px-4" style="color:black;">Мобильный телефон: <span class="text-dark rounded shadow px-2 me-2">+79150720351</span></p>
                <p class="py-0 px-4" style="color:black;">Email: <span class="text-dark rounded shadow px-2 me-2">fenix2704@bk.ru</span></p>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <div class="col-7 d-flex flex-column" id="passport_info">
                <p class="py-4 px-4" style="color:black;">Паспорт</p>
                <p class="py-0 px-4" style="color:black;">Серия:
                    <span class="text-dark rounded shadow px-2 me-2">****</span>
                    <button style="background: white">
                    <img width="30" height="30" src="{{ eye }}">
                    </button>
                </p>
                <p class="py-0 px-4" style="color:black;">Номер:
                    <span class="text-dark rounded shadow px-2 me-2">******</span>
                    <button style="background: white">
                    <img width="30" height="30" src="{{ eye }}">
                    </button>
                </p>
                <p class="py-0 px-4" style="color:black;">Номер подразделения:
                    <span class="text-dark rounded shadow px-2 me-2">***</span>
                    <button style="background: white">
                    <img width="30" height="30" src="{{ eye }}">
                    </button>
                </p>
                <p class="py-0 px-4" style="color:black;">Подразделение:
                    <span class="text-dark rounded shadow px-2 me-2">************</span>
                    <button style="background: white">
                    <img width="30" height="30" src="{{ eye }}">
                    </button>
                </p>
            </div>
        </div>
    </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    $(".sidenav ul li").on('click', function (){
        $(".sidenav ul li.active").removeClass('active');
        $(this).addClass('active');
    })
</script>

{% endblock %}
